*{
	margin: 0px;
	padding: 0px;
}

#blue{
	background-color: royalblue;
	width: 100%;
	height: 50px;
}

#bluespace{
	width: 1200px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}

#logo{
	background-color: green;
	width: 150px;
	height: 50px;
	float: left;
}

#navlist{
	width: 550px;
	height: 50px;
	float: right;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#list{
	flex:1;
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin-left: 4px;
	font-family: calibri;
	color: white;
	display: flex;
	align-items: center;
}

#bgal{
	width: 1200px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(./imgs/abc.jpg);
	background-size: cover;
}

#box{
	width: 20px;
	height: 20px;
	padding: 3px;
}